<template>
    <div id="jobList">
        <Header :showAdd="false" :showFilter="false"/>

        <!--
             JOBS LISTS ASSIGNED
         -->
        <div class="row section">
            <div class="col-md-12">
                <h2>Jobs Assigned To</h2>
            </div>
            <div class="col-md-12">
                <div class="list-group">
                    <JobListItem v-for="job in jobsAssigned"
                                 :job="job"
                                 :deletable="false"
                    />
                </div>
            </div>
            <div class="col-md-12">
                <div class="row section" v-for="list in jobListsAssigned">
                    <div class="col-md-12">
                        <h3>{{list.getName()}}</h3>
                        <i>Created by {{list.getCreatedBy().username}}</i>
                    </div>
                    <div class="col-md-12">
                        <div class="list-group">
                            <JobListItem v-for="job in list.getJobs()"
                                         :job="job"
                                         :deletable="false"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
            <router-link
                    :to="{name: 'user-jobs'}"
                    class="btn btn-light btn-lg"
                    tag="a">Created
            </router-link>
            <router-link
                    :to="{name: 'assigned-jobs'}"
                    class="btn btn-primary btn-lg"
                    tag="a">Assigned
            </router-link>
        </div>
    </div>
</template>

<script>
    import Header from '../../components/Header';
    import JobListItem from '../../components/list/Job';

    export default {
        name: 'JobListAssigned',

        dependencies: [
            'jobListJsonAdapter',
            'jobJsonAdapter',
            'repository',
        ],

        components: {
            Header,
            JobListItem,
        },

        data() {
            return {
                jobsAssigned: [],
                jobListsAssigned: [],
            }
        },

        beforeCreate() {
            const success = function (data) {
                this.jobsAssigned = this.jobJsonAdapter.makeMultiple(data.jobsAssigned).filter(function (job) {
                    return job.status !== 'Archived';
                });

                this.jobListsAssigned = this.jobListJsonAdapter.makeMultiple(data.jobListsAssigned).map(function (list) {
                    list.jobs = list.jobs.filter(function (job) {
                        return job.status !== 'Archived';
                    });

                    return list;
                });
            };

            const failure = function (code) {
                if (code === 401) {
                    localStorage.clear();
                    this.$router.push('/login');
                }
            };

            this.repository.fetchUserJobs(success.bind(this), failure.bind(this));
        },
    }
</script>

<style lang="scss" scoped>
    h2 {
        color: white;
    }

    h3, p, i {
        color: white;
        text-align: center;
    }

    .section {
        padding: 20px 0;

        &:nth-child(odd) {
            background-color: #141627;
        }

        h3 {
            padding: 0;
            margin: 0 0 20px 0;
        }

        i {
            font-size: 0.95em;
            color: rgb(207, 207, 207);
            width: 100%;
            display: block;
            padding-bottom: 20px;
            margin-top: -18px;

            span {
                padding: 2px 8px;
            }
        }

        .list-group {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    #bottom {
        margin-bottom: 120px;
    }

    #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        margin-left: -15px;

        .btn {
            width: 50%;
            border-radius: 0;
        }
    }
</style>
