<template>
    <div id="jobList">
        <Header :showAdd="true" :showFilter="true" v-on:toggleArchived="toggleArchived"/>

        <!--
            JOBS CREATED
        -->
        <div class="row section">
            <div class="col-md-12">
                <h2>Jobs Created</h2>
            </div>
            <div class="col-md-12">
                <div class="list-group">
                    <JobListItem v-for="job in filteredCreated"
                                 :job="job"
                                 :deletable="true"
                    />
                </div>
            </div>
            <div class="col-md-12">
                <router-link
                        :to="{name: 'job-list-create'}"
                        class="btn btn-outline-warning btn-block"
                        tag="button">Add New Job List
                </router-link>
            </div>
            <div class="col-md-12">
                <div class="row section" v-for="list in filterCreatedJobLists">
                    <div class="col-md-12">
                        <h3>{{list.getName()}}</h3>
                        <i>Created by {{list.getCreatedBy().username}}</i>
                    </div>
                    <div class="col-md-12">
                        <p v-if="list.jobs.length < 1">No Jobs...</p>
                        <div class="list-group">
                            <JobListItem v-for="job in list.getJobs()"
                                         :job="job"
                                         :deletable="true"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="bottom" class="row"></div>

        <div id="quick-add">
            <form @submit.prevent="addJob" class="form-inline">
                <div class="form-group">
                    <input required
                           class="form-control float-left"
                           type="text"
                           placeholder="Job Name"
                           v-model="quickAddJob.name">
                </div>
                <input type="submit"
                       class="btn btn-primary float-right"
                       value="Quick Add"
                       :disabled="quickAddButtonDisabled">
            </form>
        </div>

        <div id="footer">
            <router-link
                    :to="{name: 'user-jobs'}"
                    class="btn btn-primary btn-lg"
                    tag="a">Created
            </router-link>
            <router-link
                    :to="{name: 'assigned-jobs'}"
                    class="btn btn-light btn-lg"
                    tag="a">Assigned
            </router-link>
        </div>
    </div>
</template>

<script>
    import Header from '../../components/Header';
    import JobListItem from '../../components/list/Job';
    import Job from '../../model/Job';

    export default {
        name: 'JobListCreated',

        dependencies: [
            'jobListJsonAdapter',
            'jobJsonAdapter',
            'repository',
        ],

        components: {
            Header,
            JobListItem,
        },

        data() {
            return {
                filterOptions: {
                    archived: false
                },
                jobsCreated: [],
                jobListsCreated: [],
                quickAddJob: new Job(),
                quickAddButtonDisabled: false,
            }
        },

        beforeCreate() {
            const success = function (data) {
                this.jobsCreated     = this.jobJsonAdapter.makeMultiple(data.jobsCreated);
                this.jobListsCreated = this.jobListJsonAdapter.makeMultiple(data.jobListsCreated);
            };

            const failure = function (code) {
                if (code === 401) {
                    localStorage.clear();
                    this.$router.push('/login');
                }
            };

            this.repository.fetchUserJobs(success.bind(this), failure.bind(this));
        },

        computed: {
            filteredCreated() {
                let jobs;

                jobs = this.jobsCreated.filter(function (job) {
                    return this.filterOptions.archived
                        ? job.status === 'Archived'
                        : job.status !== 'Archived'
                }.bind(this));

                console.log(jobs);

                return jobs;
            },

            filterCreatedJobLists() {
                let lists;

                lists = this.jobListsCreated.map(function (list) {
                    list.jobs = list.jobs.filter(function (job) {
                        return this.filterOptions.archived
                            ? job.status === 'Archived'
                            : job.status !== 'Archived'
                    }.bind(this));

                    return list;
                }.bind(this));

                return lists;
            },
        },

        methods: {
            toggleArchived(archived) {
                this.filterOptions.archived = archived;
            },

            addJob() {
                this.quickAddButtonDisabled = true;

                const success = function (job) {
                    this.jobsCreated.push(this.jobJsonAdapter.make(job));
                    this.quickAddJob            = new Job();
                    this.quickAddButtonDisabled = false;
                    this.$toastr('success', 'Job Created');
                };

                const failure = function (code, message) {
                    switch (code) {
                        case 401:
                            localStorage.clear();
                            this.$router.push('/login');
                            break;

                        default:
                            this.$toastr('error', 'Job Created');
                    }
                };

                this.repository.createJob(this.quickAddJob, null, success.bind(this), failure);
            },

            archiveJob(job) {
                const success = function () {
                    job.status = 'Archived';
                };

                const failure = function (code, message) {
                    switch (code) {
                        case 401:
                            localStorage.clear();
                            this.$router.push('/login');
                            break;

                        default:
                            alert('Error: ' + message);
                    }
                };

                this.repository.archiveJob(job, success, failure.bind(this))
            },
        }
    }
</script>

<style lang="scss" scoped>
    h2 {
        color: white;
    }

    h3, p, i {
        color: white;
        text-align: center;
    }

    .section {
        padding: 20px 0;

        &:nth-child(odd) {
            background-color: #141627;
        }

        h3 {
            padding: 0;
            margin: 0 0 20px 0;
        }

        i {
            font-size: 0.95em;
            color: rgb(207, 207, 207);
            width: 100%;
            display: block;
            padding-bottom: 20px;
            margin-top: -18px;

            span {
                padding: 2px 8px;
            }
        }

        .list-group {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    #bottom {
        margin-bottom: 120px;
    }

    #quick-add {
        position: fixed;
        bottom: 49px;
        background: #ecf0f1;
        width: 100%;
        margin-left: -15px;
        padding: 8px 15px;

        .form-group {
            margin: 0;
            width: 70%;

            input {
                width: 100%;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }

            input:focus {
                -webkit-box-shadow: none !important;
                -moz-box-shadow: none !important;
                box-shadow: none !important;
            }
        }

        input[type="submit"] {
            width: 30%;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    }

    #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        margin-left: -15px;

        .btn {
            width: 50%;
            border-radius: 0;
        }
    }
</style>
