<template>
    <div class="text-center">
        <Header :showAdd="false" :showFilter="false" :listAll="true"/>

        <div class="row">
            <div class="col-md-12">
                <h1>Invite</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form @submit.prevent="send">
                    <div class="form-group">
                        <multiselect v-model="invitees"
                                     :options="optionsUsernames"
                                     :show-labels="true"
                                     :clear-on-select="false"
                                     :close-on-select="false"
                                     :multiple="true"
                                     :internal-search="true"
                                     label="username"
                                     track-by="reference"
                                     placeholder="select users to invite"
                        ></multiselect>
                    </div>

                    <div class="form-group">
                        <label>Message <i>(optional)</i></label>
                        <textarea-autosize id="message"
                                           class="form-control"
                                           v-model="message"
                                           placeholder="message..."></textarea-autosize>
                    </div>

                    <div class="form-group">
                        <multiselect v-model="item"
                                     :options="optionsItems"
                                     :show-labels="true"
                                     :clear-on-select="false"
                                     :close-on-select="false"
                                     :multiple="false"
                                     :internal-search="true"
                                     label="name"
                                     track-by="reference"
                                     placeholder="select items to invite to"
                        ></multiselect>
                    </div>

                    <input type="submit"
                           value="Send"
                           class="btn btn-primary btn-lg btn-block">
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Header from '../components/Header';

    export default {
        name: 'invite',

        dependencies: [
            'repository',
            'jobJsonAdapter',
            'jobListJsonAdapter',
        ],

        components: {
            Header,
        },

        data() {
            return {
                invitees: [],
                optionsUsernames: [],
                message: '',
                item: [],
                optionsItems: [],
            }
        },

        created() {
            this.fetchUsernames();

            const success = function (data) {
                let optionsItems = this.jobJsonAdapter.makeMultiple(data.jobsCreated);

                this.jobListJsonAdapter.makeMultiple(data.jobListsCreated).forEach(function (list) {
                    optionsItems.push(list);
                });

                this.optionsItems = optionsItems;
            };

            const failure = function (code, message) {

            };

            this.repository.fetchUserJobs(success.bind(this), failure);
        },

        methods: {
            fetchUsernames() {
                const success = function (usernames) {
                    this.optionsUsernames = usernames;
                };

                const failure = function (code, message) {

                };

                this.repository.fetchAllUsernames(success.bind(this), failure);
            },

            send() {
                const references = this.invitees.map(user => user.reference);
                const message    = this.message;

                const success = function () {
                    this.$router.push('/jobs/created');
                    this.$toastr('success', 'Invitation Sent');
                };

                const failure = function () {

                };

                console.log(references);

                this.repository.invite(references, message, this.item, success.bind(this), failure);
            }
        },
    }
</script>

<style lang="scss" scoped>
    h1, label {
        color: white;
    }

    #message {
        width: 100%;
    }
</style>
