<template>
    <div class="text-center">
        <div class="image-login-top-container"
             :style="{ backgroundImage: 'url(\'' + require(`../assets/login-top.png`) + '\')' }">
            <h1>TODOUCAN</h1>
        </div>
        <div class="row p-3">
            <div class="col-md-12">
                <form @submit.prevent="login">
                    <div class="form-group">
                        <input required
                               type="text"
                               class="form-control"
                               placeholder="username"
                               v-model="username">
                    </div>
                    <div class="form-group">
                        <input required
                               type="password"
                               class="form-control"
                               placeholder="password"
                               v-model="password">
                    </div>
                    <input type="submit"
                           class="btn btn-primary btn-block btn-lg"
                           value="login">
                </form>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-md-12 text-center">
                <p>Don't have an account yet?</p>
                <router-link
                        :to="{name: 'register'}"
                        class="btn btn-light btn-block btn-lg"
                        tag="a">Register
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'login',

        dependencies: [
            'repository'
        ],

        data() {
            return {
                username: '',
                password: ''
            }
        },

        methods: {
            login() {
                const {username, password} = this;

                const success = function (data) {
                    const token = data.token;
                    const user  = data.user;

                    localStorage.clear();

                    localStorage.setItem('user-token', token);
                    localStorage.setItem('user.reference', user.reference);

                    this.$router.push('/jobs/created');
                };

                const failure = function (code, message) {
                    alert('Error: ' + message);
                };

                this.repository.login(username, password, success.bind(this), failure);
            }
        }
    }
</script>

<style lang="scss" scoped>
    label, p {
        color: white;
    }

    .image-login-top-container {
        height: 300px;
        width: calc(100% + 30px);
        position: relative;
        margin: 0 -15px 0 -15px;
        background-size: cover;

        h1 {
            color: white;
            position: absolute;
            top: 200px;
            margin: 0 30px 0 30px;
            font-size: 14.8vw;
        }
    }

    form {
        padding-top: 15px;
    }

    input {
        text-align: center;
        font-size: 1.3em;
    }

    @media (max-width: 576px) {
        h1 {
        }
    }

    @media (min-width: 576px) {
        h1 {
        }
    }

    @media (min-width: 768px) {

    }

    @media (min-width: 992px) {

    }

    @media (min-width: 1200px) {
        h1 {
            top: 70%;
        }
    }

    @media (width: 375px) and (height: 812px) { // iphone x
        h1 {

        }
    }

    .image-login-top {
        width: calc(100% + 30px);
        margin-left: -15px;
    }
</style>
