<template>
    <div>
        <div class="row" id="actions-bar-hidden"></div>
        <div id="actions-bar">
            <router-link :to="{name: 'user-jobs'}">
                <img id="app-logo" :src="require('../assets/logo.png')">
            </router-link>

            <div class="dropdown float-right" id="user-dropdown">
                <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <img id="user-profile-picture"
                         src="https://t3.ftcdn.net/jpg/02/15/86/46/500_F_215864630_izxRF5pajvxToE3peQoKkRH9aUE0BGQk.jpg"
                         alt="">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <!--<a class="dropdown-item">-->
                        <!--<font-awesome-icon icon="crow"></font-awesome-icon>&nbsp;Profile</a>-->
                    <router-link :to="{name: 'invite'}"
                                 class="dropdown-item">
                        <font-awesome-icon icon="paper-plane"></font-awesome-icon>&nbsp;Send Invitation
                    </router-link>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" @click="logout">
                        <font-awesome-icon icon="sign-out-alt"></font-awesome-icon>&nbsp;Logout</a>
                </div>
            </div>

            <div v-if="notifications.length > 0" class="dropdown float-right" id="notification-dropdown">
                <button class="btn btn-danger dropdown-toggle"
                        type="button"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <font-awesome-icon icon="bell"></font-awesome-icon>
                </button>
                <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
                    <span v-for="notification in notifications" v-bind:key="notification.reference">
                        <div class="dropdown-item notification">
                            <p>{{notification.username}} has invited you to their list</p>
                            <button class="btn btn-sm btn-primary btn-block"
                                    @click="acceptInvite(notification)">Accept</button>
                            <button class="btn btn-sm btn-danger btn-block">Decline</button>
                        </div>
                        <div class="dropdown-divider"></div>
                    </span>
                </div>
            </div>

            <div v-if="showFilter" class="dropdown float-right">
                <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Filter
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" @click="toggleArchived">
                        {{filterOptions.archived ? 'Not Archived' : 'Archived Only'}}
                    </a>
                </div>
            </div>

            <router-link
                    v-if="listAll"
                    class="btn btn-warning float-right"
                    :to="{name: 'user-jobs'}"
                    tag="button">
                <font-awesome-icon icon="arrow-left"></font-awesome-icon>
                List All
            </router-link>

            <div v-if="showAdd" class="dropdown float-right">
                <button class="btn btn-outline-warning dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Add
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <router-link
                            :to="{name: 'job-create'}"
                            class="dropdown-item">Job
                    </router-link>
                    <router-link
                            :to="{name: 'job-list-create'}"
                            class="dropdown-item">Job List
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Header',

        props: ['showAdd', 'showFilter', 'listAll'],

        dependencies: [
            'repository',
        ],

        data() {
            return {
                filterOptions: {
                    archived: false
                },
                notifications: [],
            }
        },

        methods: {
            logout() {
                localStorage.clear();
                this.$router.push('/login');
            },

            toggleArchived() {
                this.filterOptions.archived = !this.filterOptions.archived;
                this.$emit('toggleArchived', this.filterOptions.archived)
            },

            acceptInvite(notification) {
                const success = function () {
                    this.notifications = this.notifications.filter(function (notification) {
                        return notification.inviteReference !== notification.inviteReference;
                    });
                };

                const failure = function (code, message) {
                    switch (code) {
                        case 401:
                            localStorage.clear();
                            this.$toastr('error', message);
                            this.$router.push('/login');
                            break;

                        case 500:
                            this.$toastr('error', {
                                title: 'Server Error',
                                msg: message,
                                timeout: 0,
                                position: 'toast-top-full-width',
                                type: 'info',
                                closeOnHover: true,
                                clickClose: true,
                            });
                            break;

                        default:
                            alert('Error: ' + message);
                    }
                };

                this.repository.acceptInvite(notification.inviteReference, success.bind(this), failure.bind(this));
            },
        },

        beforeCreate() {
            const success = function (notifications) {
                this.notifications = notifications;
                // make bell ring animation
            };

            const failure = function (code, message) {
                switch (code) {
                    case 401:
                        localStorage.clear();
                        this.$toastr('error', message);
                        this.$router.push('/login');
                        break;

                    case 500:
                        this.$toastr('error', {
                            title: 'Server Error',
                            msg: message,
                            timeout: 0,
                            position: 'toast-top-full-width',
                            type: 'info',
                            closeOnHover: true,
                            clickClose: true,
                        });
                        break;

                    default:
                        alert('Error: ' + message);
                }
            };

            this.repository.fetchNotifications(success.bind(this), failure.bind(this))
        },
    };
</script>

<style lang="scss" scoped>
    .scrollable-menu {
        height: auto;
        max-height: 400px;
        overflow-x: hidden;
    }

    #actions-bar-hidden {
        margin-top: 100px;
    }

    #actions-bar {
        position: fixed;
        top: 0;
        padding: 0;
        z-index: 99;
        background-color: rgba(34, 36, 55, 0.8);
        width: 100%;
        margin-left: -15px;

        #app-logo {
            float: left;
            height: 70px;
        }

        button {
            margin: 15px 8px;
        }

        #notification-dropdown {
            button {
                &:after {
                    content: none;
                }
            }

            .notification {
                text-align: center;

                p {
                    font-size: 1em;
                }
            }
        }

        #user-dropdown {
            button {
                padding: 0 10px 0 0;

                &:after {
                    margin-left: 13px;
                }

                margin-right: 15px;
            }

            .dropdown-menu svg {
                margin-left: -15px;
                margin-right: 15px;
            }

            #user-profile-picture {
                height: 36px;
            }
        }
    }
</style>
