<template>
    <div>
        <Header :showAdd="false" :showFilter="false" :listAll="true" />
        <div class="row">
            <div class="col-md-12">
                <h1>Add Job</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form @submit.prevent="create">
                    <div class="form-group">
                        <input type="text"
                               class="form-control form-control-lg"
                               placeholder="Name"
                               v-model="job.name"
                        />
                    </div>
                    <div class="form-group">
                        <input type="text"
                               class="form-control form-control-lg"
                               placeholder="Description"
                               v-model="job.description"
                        />
                    </div>
                    <div class="form-group">
                        <multiselect v-model="jobList"
                                     :options="options"
                                     :show-labels="true"
                                     :clear-on-select="false"
                                     :close-on-select="false"
                                     :multiple="false"
                                     :internal-search="true"
                                     label="name"
                                     track-by="reference"
                                     placeholder="select list"
                        ></multiselect>
                    </div>
                    <input type="submit"
                           value="Create"
                           class="btn btn-primary btn-lg btn-block"
                    />
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Header from '../../components/Header';
    import Job from '../../model/Job';

    export default {
        name: 'JobCreatePage',

        dependencies: [
            'repository',
            'jobListJsonAdapter'
        ],

        components: {
            Header
        },

        data() {
            return {
                job: new Job(),
                jobList: null,
                options: [],
            };
        },

        beforeCreate() {
            const success = function (data) {
                this.options = this.jobListJsonAdapter.makeMultiple(data.jobListsCreated);
            };

            const failure = function (code, message) {

            };

            this.repository.fetchUserJobs(success.bind(this), failure.bind(this));
        },

        methods: {
            create() {
                const success = function () {
                    this.$router.push('/jobs/created');
                };

                const failure = function (code, message) {
                    switch (code) {
                        case 401:
                            localStorage.clear();
                            this.$router.push('/login');
                            break;

                        default:
                            alert('Error: ' + message);
                    }
                };

                this.repository.createJob(this.job, this.jobList, success.bind(this), failure.bind(this));
            }
        }
    };
</script>

<style lang="scss" scoped>
    h1 {
        color: white;
    }

    .actions {
        margin-bottom: 30px;
    }
</style>
