<template>
    <div>
        <Header :showAdd="false" :showFilter="false" :listAll="true"/>

        <div class="row">
            <div class="col-md-12">
                <h1>Add Job List</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <form @submit.prevent="create">
                    <div class="form-group">
                        <input type="text"
                               class="form-control form-control-lg"
                               placeholder="Name"
                               v-model="jobList.name"
                        />
                    </div>
                    <input type="submit"
                           value="Create"
                           class="btn btn-primary btn-lg btn-block"
                    />
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Header from '../../components/Header';
    import JobList from '../../model/JobList';

    export default {
        name: 'JobListCreatePage',

        dependencies: [
            'repository',
        ],

        components: {
            Header,
        },

        data() {
            return {
                jobList: new JobList(),
            };
        },

        methods: {
            create() {
                const success = function () {
                    this.$router.push('/jobs/created');
                };

                const failure = function (code, message) {
                    switch (code) {
                        case 401:
                            localStorage.clear();
                            this.$router.push('/login');
                            break;

                        default:
                            alert('Error: ' + message);
                    }
                };

                this.repository.createJobList(this.jobList, success.bind(this), failure.bind(this));
            },
        },
    }
</script>

<style lang="scss" scoped>
    h1 {
        color: white;
    }

    .actions {
        margin-bottom: 30px;
    }
</style>
