<template>
    <div class="container-fluid page-body-wrapper">
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: 'App',
    }
</script>

<style>
    body {
        background-color: #1c1e2f;
    }

    p {
        color: red;
    }
</style>
