<template>
    <router-link
            :to="{name: 'job-view', params: { jobReference: job.reference }}"
            class="list-group-item"
            tag="div"
    >
        <div class="job-name">
            {{job.name}}
        </div>
        <div class="badges">
            <span v-if="job.status === 'Waiting'" class="badge badge-primary badge-pill">Waiting</span>
            <span v-if="job.status === 'Archived'" class="badge badge-danger badge-pill">Archived</span>
        </div>
        <div class="actions" v-if="deletable && job.status !== 'Archived'">
            <button class="btn btn-danger btn-sm archive"
                    @click.stop="archive(job)">
                <font-awesome-icon icon="trash"></font-awesome-icon>
            </button>
        </div>
    </router-link>
</template>

<script>
    export default {
        name: 'Job',

        props: ['job', 'deletable'],

        methods: {
            archive(job) {
                this.$emit('archive', job)
            },
        }
    }
</script>

<style lang="scss" scoped>
    .list-group-item {
        height: auto;
        color: white;
        background: #2a2d46;
        padding: 0;
        display: flex;
        margin-bottom: 10px;

        .job-name {
            box-sizing: border-box;
            padding: 15px;
            word-break: break-word;
            flex: 6.5;
        }

        .badges {
            box-sizing: border-box;
            flex: 1;
            display: flex;
            align-items: center;
            text-align: right;

            .badge {
                margin-right: 10px;
            }
        }

        .actions {
            box-sizing: border-box;
            flex: 1.5;

            .archive {
                width: 100%;
                height: 100%;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

        }
    }
</style>
